@page
@model IndexModel
@{
    ViewData["Title"] = "My Page";
}

<div class="text-center">
    <h1 class="display-4">My Page</h1>

    <div>
        <a asp-page="./Bookings/Index">My Bookings</a>
    </div>


</div>
