@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body style="margin: 0px;  background-image: url(https://egde.no/wp-content/themes/yootheme/cache/dsc7427-9264dcb1.jpeg);
            height: 100%; background-repeat: no-repeat; background-position: center;">




    <div class="text-center">
        <h1 class="display-4">TechSpace </h1>

    </div>

    <div>
        <form method="get" action="/MyPage/Index">
            <button type="submit">Min Side</button>
        </form>

        <form method="get" action="/Equipments/Index">
            <button type="submit">Book Utstyr</button>
        </form>
        
    </div>


</body>
